@font-face {
  font-family: 'Adca';
  src: url('../fonts/Adca.ttf') format('truetype');
}

@font-face {
  font-family: 'Airstream';
  src: url('../fonts/Airstream.otf') format('opentype');
}

@font-face {
  font-family: 'Armalite Rifle';
  src: url('../fonts/Armalite.ttf') format('truetype');
}

@font-face {
  font-family: 'Attractype Reborn';
  src: url('../fonts/AttractypeReborn.otf') format('opentype');
}

@font-face {
  font-family: 'Beon';
  src: url('../fonts/Beon.otf') format('opentype');
}

@font-face {
  font-family: 'Borsok';
  src: url('../fonts/Borsok.otf') format('opentype');
}

@font-face {
  font-family: 'Cipitillo';
  src: url('../fonts/Cipitillo.otf') format('truetype');
}

@font-face {
  font-family: 'Cloister Black';
  src: url('../fonts/CloisterBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'Commando';
  src: url('../fonts/Commando.ttf') format('truetype');
}

@font-face {
  font-family: 'Consuela';
  src: url('../fonts/Consuela.otf') format('opentype');
}

@font-face {
  font-family: 'Escucha';
  src: url('../fonts/Escucha.otf') format('opentype');
}

@font-face {
  font-family: 'Krisha';
  src: url('../fonts/Krisha.otf') format('opentype');
}
@font-face {
  font-family: 'Neon';
  src: url('../fonts/Neon.ttf') format('truetype');
}

@font-face {
  font-family: 'Neoneon';
  src: url('../fonts/Neoneon.otf') format('opentype');
}

@font-face {
  font-family: 'Omega';
  src: url('../fonts/Omega.ttf') format('truetype');
}

@font-face {
  font-family: 'Perfect Moment';
  src: url('../fonts/PerfectMoment.otf') format('opentype');
}

@font-face {
  font-family: 'Shrimp';
  src: url('../fonts/Shrimp.ttf') format('truetype');
}

@font-face {
  font-family: 'Soviet League';
  src: url('../fonts/SovietLeague.otf') format('opentype');
}

@font-face {
    font-family: 'VCR OSD';
    src: url('../fonts/VCROSD.ttf') format('truetype');
}

@font-face {
  font-family: 'Yeager';
  src: url('../fonts/Yeager.otf') format('opentype');
}
