.neonText {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe, 0 0 82px #bc13fe, 0 0 92px #bc13fe,
        0 0 102px #bc13fe, 0 0 151px #bc13fe;
}

body {
    /* font-size: 18px; */
    /* font-family: 'Sacramento', sans-serif; */
    /* background-color: #010a01; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url('https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png');
}

h1,
h2 {
    text-align: center;
    font-weight: 400;
}

h1,
.arse {
    /* font-size: 6.2rem; */
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    /* padding: 0.4em; obviously this was the odd padding because of the em and the fontsize!*/
    padding: 0;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

@keyframes pulsate {
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe, 0 0 80px #bc13fe, 0 0 90px #bc13fe,
            0 0 100px #bc13fe, 0 0 150px #bc13fe;
    }
    0% {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe, 0 0 45px #bc13fe, 0 0 55px #bc13fe,
            0 0 70px #bc13fe, 0 0 80px #bc13fe;
    }
}
